server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root $DOCUMENT_ROOT;
    index $INDEX_FILE;

    server_name _;
    client_max_body_size $CLIENT_MAX_BODY_SIZE;

    location ~ \.php$ {
        fastcgi_pass $PHP_FPM:9000;
        fastcgi_index $INDEX_FILE;
        include fastcgi_params;
    }
}
